{{define "title"}}Home{{end}}
{{define "article-title"}}Hello there!{{end}}
{{define "article-content"}}
    <p>Welcome to this website. Here is an article that you might enjoy, so sit back and relax.</p>
    <p>In hindsight, I shouldn't have bigged it up so much - I don't actually have an article yet.</p>
    <p>Sorry!</p>
{{end}}