{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
    <header class="content-head">
        <h2>{{.Title}}</h2>
    </header>
    <div class="content">
        <p>Welcome to this website.</p>
    </div>
{{end}}
