{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
    <article>
        <header class="content-head">
            <h2>{{ .Title}}</h2>
            {{ template "published" . }}
        </header>
        <div class="content">
            {{template "article-content" .}}
        </div>
    </article>
{{end}}
