{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
    <article>
        <header class="content-head">
            <h2>{{ .Title}}</h2>

            <div class="content-meta">
                {{ template "published" . }}
                {{ if ne .Updated "" }}
                    {{ template "updated" . }}
                {{ end }}
            </div>
        </header>
        <div class="content">
            {{template "article-content" .}}
        </div>
    </article>
{{end}}
